header,nav,section{
display:block;
}
body{
margin-top:30px;
margin-left:60px;
margin-right:60px;
display:-webkit-box;
}
#big_wrapper{
display:-webkit-box;
-webkit-box-flex:1;
-webkit-box-orient:vertical;
}
#top_header{
background:red;
height:100px;
}
#nav_menu{
background:rgb(0,255,0);
height:30px;
}
#small_wrapper{
display:-webkit-box;
-webkit-box-orient:horizontal;
height:400px;
}
#section1{
background:blue;
-webkit-box-flex:2;

}
#section2{
background:yellow;
-webkit-box-flex:5;

}
#section3{
background:#00FFFF;
-webkit-box-flex:2;

}
